* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    background:  linear-gradient(to top, #DBDBD2 80% ,#009688 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 87.5rem;
    width: 100%;
    height: calc(100% - 3.75rem);
    border: 1px solid black;
    display: flex;
}

/* colonna contatti */
.column-contact {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* profilo */
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6DFD6;
}

.profile-name {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.profile-name img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-icons {
    display: flex;
    gap: 12px;
    margin: 10px 20px;
    color: gray;
    font-size: 20px;
}

/* notifiche */

.notifications {
    background-color: #8EDAFC;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.notifications i {
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: #8EDAFC;
}

/* search */

.search {
    padding: 5px;
    background-color:#E6DFD6
}

.search form {
    display: flex;
}

.search button {
    width: 20%;
    padding: 5px 0;
    border: none;
}

.search input {
    padding: 5px 5px;
    width: 80%;
    border: none;
}

/* contact */
.contact {
    background-color: white;
    padding: 10px;
    overflow-y: auto;
}

.contact ul {
    list-style: none;
}

.contact ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    cursor: pointer;
}

.contact .user {
    display: flex;
    gap: 10px;
}

.contact ul li img {
    height: 50px;
    border-radius: 50%;
}

.contact .data {
    font-size: 12px;
    color: gray;
}

/* colonna chat */
.column-chat {
    width: 70%;
}

/* contatto chat */
.contact-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6DFD6;
    padding: 10px;
    border-left: 1px solid gray;
}

.contact-chat .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-chat .user img {
    height: 50px;
    border-radius: 50%;
}

.chat-icons {
    display: flex;
    gap: 15px;
    margin-right: 10px;
    color: gray;
}

/* chat */
.chats {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 70px - 70px);
    padding: 50px 50px 0 50px;
    
}

.chat {
    padding: .625rem .9375rem;
    margin-bottom: 1.25rem;
    border-radius: 10px;
}

.chat .date{
    font-size: .60rem;
    align-self: flex-end;
    color: lightslategray;
}

.chat-right {
    display: flex;
    justify-content: flex-end;
}

.chat-left {
    display: flex;
}

.chat-green {
    background-color: #d5f9ba;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.chat-white {
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


/* input messagge */
.input-messagge {
    background-color: #E6DFD6;
    height: 70px;
    display: flex;
    align-items: center;
}

.input-messagge i {
    width: 10%;
    text-align: center;
    font-size: 25px;
    color: grey;
}

.input-messagge input {
    width: 80%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}