<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>

</head>
<body>
    <div class="background">
        <div class="container" id="app">
            <!-- colonna contatti -->
            <div class="column-contact">
                <!-- profilo -->
                <div class="profile">
                    <div class="profile-name">
                        <img src="img/avatar_io.jpg" alt="avatar_io">
                        <span>Sofia</span>
                    </div>
                    <div class="profile-icons">
                        <i class="fa-solid fa-arrow-rotate-right"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- notifiche -->
                <div class="notifications">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="notifications-text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <small>Attiva notifiche desktop</small>
                    </div>
                </div>
                <!-- ricerca -->
                <div class="search">
                    <form>
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="textSearch" required>
                    </form>
                </div>
                <!-- contatti -->
                <div class="contact">
                    <ul>
                        <li v-for="(contact, index) in filterContact" @click="changeContact(index)">
                            <div class="user">
                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.avatar">
                                <div>
                                    <div><strong>{{contact.name}}</strong></div>
                                    <small>{{lastMessage(index)}}</small>
                                </div>
                            </div>
                            <div class="data">{{lastMessageHour(index)}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- colonna chat -->
            <div class="column-chat">
                <div class="contact-chat">
                    <div class="user">
                        <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" alt="contacts[currentIndex].name">
                        <div>
                            <div><strong>{{contacts[currentIndex].name}}</strong></div>
                            <span>Ultimo accesso oggi alle {{lastMessageHour(currentIndex)}}</span>
                        </div>
                    </div>
                    <div class="chat-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- chat -->
                <div class="chats">
                    <div class="slide-chat" v-for="(messaggi, index) in contacts[currentIndex].messages" :class="positionChat(messaggi.status)">
                        <div :class="colorChat(messaggi.status)" class="chat">
                            <div class="message">{{messaggi.message}}</div>
                            <div class="date"></div>
                        </div>
                    </div>
                </div>
                <!-- invio messaggi -->
                <div class="input-messagge">
                    <i class="fa-regular fa-face-grin"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="textChat"  v-on:keyup.enter="addMessage()">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>